.env
**/.terraform
**/terraform.tfstate.backup
**/terraform.tfstate
**/.terraform.tfstate.lock.info
conf/htpasswd
vagrant/.vagrant
sshkey.pem
**/__pycache__

# lol
ansible/roles/geerlingguy.nginx
ansible/roles/geerlingguy.nodejs
